[submodule "commons-dao"]
	path = commons-dao
	url = https://github.com/reportportal/commons-dao.git
	branch = develop
[submodule "commons"]
	path = commons
	url = https://github.com/reportportal/commons.git
	branch = develop
[submodule "plugin-api"]
	path = plugin-api
	url = https://github.com/reportportal/plugin-api.git
	branch = develop
