[submodule "api-registry"]
	path = api-registry
	url = https://github.com/reportportal/api-registry
	branch = feature/organizations
[submodule "migrations"]
	path = migrations
	url = https://github.com/reportportal/migrations
