[submodule "commons-dao"]
	path = commons-dao
	url = git@github.com:reportportal/commons-dao.git
	branch = develop
[submodule "commons"]
	path = commons
	url = git@github.com:reportportal/commons.git
	branch = develop
[submodule "plugin-api"]
	path = plugin-api
	url = git@github.com:reportportal/plugin-api.git
	branch = develop
