rp:
  upload:
    maxUploadSize: 128MB
    maxFileSize: 32MB
  analytics:
    enableByDefault: true
  analyzer:
    url: http://analyzer:7777

spring:
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        tags:
          - urlprefix-${server.contextPath:/}
          - traefik.frontend.rule=PathPrefixStrip:${server.contextPath:/}
          - statusPageUrlPath=${server.contextPath}${management.contextPath}/info
          - healthCheckUrlPath=${server.contextPath}${management.contextPath}/info
        healthCheckPath: ${server.contextPath}/admin/health
        register: true
      enabled: true
eureka:
  instance:
    hostname: ${HOSTNAME:localhost}
    status-page-url-path: ${server.contextPath}${management.contextPath}/info
    health-check-url-path: ${server.contextPath}${management.contextPath}/health
  client:
    register-with-eureka: false
    enabled: false
logging:
  level:
    org.springframework.data.mongodb.core.mapping: error
    org.springframework.context.support: warn
    org.springframework.data.mongodb.core.index: warn

## Consul as service registry
---
spring:
  profiles: consul
  cloud:
    consul:
      enabled: true
      discovery:
        register: true
eureka:
  client:
    register-with-eureka: false
    enabled: false

## Eureka as service registry
---
spring:
  profiles: eureka
  cloud:
    consul:
      enabled: false
      discovery:
        register: false
eureka:
  client:
    register-with-eureka: true
    enabled: true
---

springfox:
  documentation:
    swagger:
      v2:
        path: /api-docs
