info:
  build:
    version: ${rp.api.version:5.0}
spring:
  application:
    name: api
    quartz:
      org.quartz.jobStore.class: org.quartz.impl.jdbcjobstore.JobStoreTX
      org.quartz.jobStore.driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
      org.quartz.jobStore.dataSource: dataSource
      org.quartz.jobStore.tablePrefix: quartz.scheduler_
      org.quartz.threadPool.threadCount: "1"
      org.quartz.jobStore.isClustered: "true"
      org.quartz.jobStore.clusterCheckinInterval: "180000"
      org.quartz.scheduler.instanceId: ${spring.application.name}:${vcap.application.instance_id:${spring.application.instance_id:${random.value}}}
      org.quartz.scheduler.instanceName: reportportal

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${rp.db.url}
  jpa:
    properties:
      hibernate:
        dialect: com.epam.ta.reportportal.store.commons.JsonbAwarePostgresDialect
        jdbc.lob.non_contextual_creation: true
    generate-ddl: false
    hibernate:
      ddl-auto: none

  rabbitmq:
    addresses: ${rp.amqp.addresses}
logging:
  level:
    #    org.springframework.context.support: warn
    #    com.novemberain.quartz : debug
    org.springframework.security: debug
    #    com.epam.ta.reportportal.exception.ReportPortalException: fatal
    org.springframework.web.bind: fatal
    #    com.epam.ta.reportportal.commons.exception.rest: fatal
    #    org.jooq.tools.LoggerListener: debug
    root: info


springfox:
  documentation:
    swagger:
      v2:
        path: /api-docs


#### Custom ReportPortal Properties ######
##########################################
rp:
  amqp:
    addresses: amqp://rabbitmq:rabbitmq@rabbitmq:5672
    api-address: http://rabbitmq:rabbitmq@rabbitmq:15672/api
  db:
    url: jdbc:postgresql://localhost:5432/reportportal?user=rpuser&password=rppass
  upload:
    maxUploadSize: 128MB
    maxFileSize: 64MB
  analytics:
    enableByDefault: true
  plugins:
    path: /plugins