<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.classic.AsyncAppender" name="ASYNC_CONSOLE">
    <appender-ref ref="CONSOLE"/>
    <neverBlock>true</neverBlock>
  </appender>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <root level="INFO">
    <appender-ref ref="ASYNC_CONSOLE"/>
  </root>

  <springProfile name="file-logging">
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
      <encoder>
        <pattern>${FILE_LOG_PATTERN}</pattern>
      </encoder>
      <file>${LOG_FILE}</file>

      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>10</maxHistory>
        <totalSizeCap>3GB</totalSizeCap>
      </rollingPolicy>
    </appender>

    <appender class="ch.qos.logback.classic.AsyncAppender" name="ASYNC_FILE">
      <appender-ref ref="FILE"/>
      <neverBlock>true</neverBlock>
    </appender>
    <root level="INFO">
      <appender-ref ref="ASYNC_FILE"/>
    </root>
  </springProfile>

</configuration>
