<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M -
        %msg%n
      </pattern>
    </encoder>
  </appender>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <logger level="ERROR" name="org.springframework"/>

  <logger level="info" name="org.springframework.security"/>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>