name: Drill4J checks

on:
  workflow_dispatch:
    inputs:
      drill-agent-enabled:
        description: 'Drill Agent Enabled'
        type: string
        required: false
        default: 'false'
  push:
    branches:
      - develop
    paths-ignore:
      - '.github/**'
      - README.md
      - gradle.properties

jobs:
  call-java-checks:
    name: Call Java Checks with Drill4J
    runs-on: 'rp-beta-runner-set'
    env:
      DRILL_AGENT_ENABLED: ${{ inputs.drill-agent-enabled }}
      DRILL_API_URL: ${{ secrets.DRILL_API_URL }}
      DRILL_API_KEY: ${{ secrets.DRILL_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 21

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        id: build
        run: |
          ./gradlew test --continue

      - name: Upload test report
        uses: actions/upload-artifact@v3
        with:
          name: test-report
          path: |
            build/reports/tests/test/**  
